DockerCourseApi/.vs/
DockerCourseFrontend/.vs/
DockerCourseApi/DockerCourseApi/bin/
DockerCourseApi/DockerCourseApi/obj/
DockerCourseFrontend/DockerCourseFrontend/bin/
DockerCourseFrontend/DockerCourseFrontend/obj/
